* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: white;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: 0 10%;
  display: grid;
  background-color: white;
}

.nav {
  display: flex;
  gap: 100px;
  padding-top: 30px;
  backdrop-filter: blur(50px);
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(221, 126, 23, 0.4),
    transparent
  );
  transition: 0.5s;
}
.nav:hover::after {
  left: 100%;
}

.navbar {
  margin-right: 30%;
}
.navbar a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  margin-left: 0.5rem;
}

#check {
  display: none;
}
.icons {
  position: absolute;
  font-size: 2.8rem;
  cursor: pointer;
  display: none;
}

.cart-profile {
  display: flex;
  gap: 55%;
  align-items: center;
}

.profile-img img {
  height: 40px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: hsl(220, 14%, 75%);
  margin-top: 15px;
  margin-bottom: 30px;
}

.image-product {
  display: grid;
  gap: 28px;
}
.imgpix img {
  height: 420px;
  width: 430px;
  border-radius: 12px;
}

.others {
  display: flex;
  gap: 24px;
}

.others img {
  height: 85px;
  width: 90px;
  border-radius: 8px;
}

.section {
  margin-top: 30px;
  padding: 5%;
  display: flex;
  gap: 15%;
  /* align-items: center; */
}

.product-make {
  align-items: center;
  display: grid;
  gap: 12px;
}
.product-make h1 {
  max-width: 100ch;
  font-size: 40px;
  font-weight: 700;
}
.product-make h4 {
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
}
.product-make p {
  max-width: 50ch;
  line-height: 1.8;
  color: hsl(219, 9%, 45%);
}

.price {
  display: grid;
  gap: 10px;
}

.mprice {
  display: flex;
  gap: 20px;
  align-items: center;
}
.mprice h1 {
  font-size: 30px;
  font-weight: 700;
}
.mpricee h3 {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}

.discount {
  background-color: hsl(25, 100%, 94%);
  width: 45px;
  height: 30px;
  padding: 7px 0;
  border-radius: 6px;
  text-align: center;
}
.discount h4 {
  font-size: 12px;
  background-color: hsl(25, 100%, 94%);
}

.fill {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.fill-auto {
  display: flex;
  gap: 30px;
  width: 135px;
  height: 60px;
  background-color: hsl(223, 64%, 98%);
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.addtoCart {
  display: flex;
  gap: 18px;
  width: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: hsl(223, 64%, 98%);
}
.toCart img {
  height: 15px;
  color: white;
}
.minus,
.plus,
img,
.fill-auto h5 {
  background-color: hsl(223, 64%, 98%);
}
.minus {
  align-items: center;
  display: grid;
}

.fill-auto h5 {
  font-size: 20px;
}

.toCart,
.toCarthead,
.toCart img,
.toCarthead h5,
.addtoCart {
  background-color: hsl(26, 100%, 55%);
}

.btn {
  color: white;
}
.logo img {
  background-color: white;
}

/* FIVE (5) BREAKPOINTS */
@media (max-width: 1360px) {
  .nav {
    gap: 5%;
    padding-top: 25px;
  }
  .navbar {
    margin-right: 34%;
  }
}
@media (max-width: 1257px) {
  .nav {
    gap: 3%;
    padding-top: 25px;
  }
  .navbar {
    margin-right: 26%;
  }
  .line {
    width: 100%;
    height: 1px;
  }
}

@media (max-width: 1149px) {
  .nav {
    gap: 3%;
    padding-top: 25px;
  }

  .navbar {
    margin-right: 32%;
  }
  body {
    margin: 0 4%;
  }
  .line {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .nav {
    gap: 3%;
    padding-top: 25px;
  }

  .navbar {
    margin-right: 20%;
  }
  body {
    margin: 0 4%;
  }
  .section {
    gap: 5%;
    padding: 1%;
  }
  .line {
    width: 100%;
  }
  .logo img {
    height: 30px;
  }
}

/*Tabs */

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
    top: 25px;
  }
  body {
    margin: 0 1%;
  }
  .nav {
    gap: 3%;
    padding-top: 25px;
  }

  .navbar {
    margin-right: 20%;
  }

  .section {
    gap: 5%;
    padding: 1.5%;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    top: 100%;
    position: absolute;
    left: 0;
    width: 50%;
    height: 0;
    background-color: rgb(252, 132, 4);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transform: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 15.5rem;
  }

  .nav {
    padding: 2% 0;
  }

  .logo {
    position: absolute;
    left: 75px;
    top: 30px;
  }
  .logo img {
    height: 28px;
    background-color: white;
  }

  .cart-profile {
    position: relative;
    left: 80%;
  }
  .navbar a {
    display: block;
    font-size: 1.4rem;
    margin: 1.1rem 0;
    text-align: left;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
    background-color: transparent;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    transition-delay: calc(0.06s * var(--i));
    opacity: 1;
  }
}

/* Mobile and Tabs */

@media (max-width: 510px) {
  * {
    margin: 0;
    overflow: 0;
  }
  body {
    margin: 0;
    background-color: white;
    overflow: 0;
  }
  .nav,
  .product-make {
    margin: 0 30px;
  }
  .imgpix img {
    width: 100%;
  }
  .section {
    margin-top: 0;
    margin-right: 0;
    padding: 5% 0 0 0;
    display: grid;
    gap: 50px;
  }
  .line {
    display: none;
  }
  .logo img {
    height: 24px;
  }
  .icons {
    top: 23.5px;
  }
  .cart-profile {
    top: 15px;
    left: 320px;
    gap: 25px;
  }
  .others {
    display: none;
  }
  .imgpix img {
    display: block;
    border-radius: 0;
  }
  .price {
    display: flex;
    gap: 150px;
    align-items: center;
  }
  .mpricee h3 {
    font-size: 22px;
  }
  .fill {
    display: block;
    gap: 10px;
    margin: 30px 0;
  }

  .fill-auto {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 10%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .addtoCart {
    display: flex;
    gap: 45px;
    width: 100%;
    height: 70px;
  }

  .toCart img {
    height: 30px;
    color: white;
  }
  .fill-auto h5 {
    font-size: 32px;
  }
  .toCarthead h5 {
    font-size: 20px;
  }
  .attribution {
    margin-bottom: 15px;
  }
}
